
/* Helper Classes */
.text-dark-green { color: var(--dark-green) !important; }
.bg-main-green { background-color: var(--main-green) !important; }
.bg-green-light { background-color: var(--bg-light-green) !important; }
.text-green { color: var(--main-green) !important; }
.bg-yellow-light { background-color: var(--bg-light-yellow) !important; }
.text-yellow { color: var(--text-yellow) !important; }

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}