<section class="bg-main-green text-white py-5 text-center">
        <div class="container">
            <h3 class="fw-bold">มอบความมั่นใจให้ผู้ประกอบการ และความปลอดภัยให้ผู้เดินทาง</h3>
            <p class="opacity-75 mb-4">เริ่มต้นใช้งานระบบ Trip Sync วันนี้</p>
            
            <a href="register.html" class="btn btn-white-cta rounded-pill px-5 py-3 shadow text-decoration-none">
                <i class="bi bi-rocket-takeoff-fill me-2"></i> สมัครใช้งานฟรี
            </a>
            
        </div>
    </section>