<section class="organization-section">
        <div class="container text-center">
            <p class="heading-pill">มาตรฐานการเดินทางที่องค์กรชั้นนำเลือกใช้</p>

            <div class="row row-cols-2 row-cols-md-5 g-4 justify-content-center">
                
                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

                <div class="col">
                    <div class="logo-box shadow-sm">
                        <img src="img/logo-cpall.png" alt="CP ALL">
                    </div>
                </div>

            </div>
        </div>
    </section>